eSTOL_Training_Tool/eSTOL_Training_Tool/bin/
eSTOL_Training_Tool/eSTOL_Training_Tool/obj/
eSTOL_Training_Tool/packages/
eSTOL_Training_Tool/publish/
eSTOL_Training_Tool/.vs/
.idea/
eSTOL_Training_Tool/eSTOL_Training_Tool_Core/bin/
eSTOL_Training_Tool/eSTOL_Training_Tool_Core/obj/
eSTOL_Training_Tool/eSTOL_Training_Tool_Core/Influx/InfluxToken.cs
eSTOL_Training_Tool/eSTOL_Training_Tool_Core/Properties/PublishProfiles/FolderProfile.pubxml.user
eSTOL_score_xml/.vscode/
eSTOL_score_xml/__pycache__/influx_token.cpython-311.pyc
eSTOL_score_xml/influx_token.py
/estol(1).svg
/eSTOL_Training_Tool/eSTOL_Training_Tool_Core/Influx/MyInflux.cs
/eSTOL_Training_Tool/eSTOL_Training_Tool_Core/Influx/MyInflux.cs
/nationaleSTOL.svg
